%table.table.table-lined
  %tr
    %th= t('activerecord.attributes.collection.name')
    %th= t('activerecord.attributes.collection.date_string')
    %th= t('activerecord.attributes.collection.location')
    %th= t('actions')

  - @collections.each do |collection|
    %tr
      %td= link_to collection.name, collection
      %td= collection.date_string
      %td= collection.location
      %td= action_list collection
%br

= link_to 'New Collection', new_collection_path
