= semantic_form_for @sketch do |f|
  = f.inputs do
    = hidden_field_tag 'destination', params[:destination]
    = f.input :url, :as => :url
    = f.input :collection, :as => :autocomplete, :url => autocomplete_collection_name_sketches_path, :input_html => { :value => (f.object.topic && f.object.topic.collection && f.object.topic.collection.name) || (params && params[:sketch] && params[:sketch][:collection]) }
    = f.input :topic, :as => :autocomplete, :url => autocomplete_topic_name_sketches_path, :input_html => { :value => (f.object.topic && f.object.topic.name) || (params && params[:sketch] && params[:sketch][:topic]) }
    = f.input :people, :as => :string, :input_html => { :value => (f.object.topic && f.object.topic.people) || (params && params[:sketch] && params[:sketch][:people]) }
    = f.input :artist, :as => :autocomplete, :url => autocomplete_artist_name_sketches_path, :input_html => { :value => (f.object.artist && f.object.artist.name) || (params && params[:sketch] && params[:sketch][:artist]) }
    = f.input :upload_date, :as => :string, :input_html => { :value => (f.object.upload_date && l(f.object.upload_date)) || (params && params[:sketch] && params[:sketch][:upload_date]) }
    = f.input :license, :as => :string, :input_html => { :value => f.object.license || (params && params[:sketch] && params[:sketch][:license]) }
  = f.actions
