= render 'contact_me'

.pull-right= link_to t('download_as_spreadsheet'), url_for(:only_path => false, :format => :csv)
%table.table.table-striped
  %tr
    %th= sortable_column t('collection'), :column => 'collection'
    %th= sortable_column t('topic'), :column => 'topic'
    %th= sortable_column t('artist'), :column => 'artists.name'
    %th= sortable_column t('activerecord.attributes.sketch.created_at'), :column => 'sketches.created_at', :direction => :desc
    %th= t('actions')
  - @sketches.each do |sketch|
    %tr
      %td= link_to sketch.topic.collection.name, sketch.topic.collection if sketch.topic and sketch.topic.collection
      %td= link_to sketch.topic.name, sketch.topic if sketch.topic
      %td= link_to(sketch.artist.name, sketch.artist) if sketch.artist
      %td= l(sketch.created_at.to_date, :format => :short)
      %td= action_list sketch

- if can? :create, Sketch
  = link_to 'New Sketch', new_sketch_path
