%h1= t('.title')

%table.table.table-striped
  %tr
    %th= t('.name')
    %th= t('.count')
    %th
     
  - @artists.each do |artist|
    %tr
      %td= link_to artist.name, artist
      %td= link_to artist.sketches.size, artist
      %td= action_list artist
%br
- if can? :create, Artist
  = link_to 'New Artist', new_artist_path
