= render 'contact_me'

%table.table.table-striped
  %tr
    %th= sortable_column t('.count'), column: 'count', direction: :desc
    %th= sortable_column t('.name'), column: 'name'
    %th
     
  - @artists.each do |artist|
    %tr
      %td= link_to artist.sketches.count, artist
      %td= link_to artist.name, artist
      %td= action_list artist
%br
- if can? :create, Artist
  = link_to 'New Artist', new_artist_path
