= render 'contact_me'
%table.table-striped.table
  %tr
    %th= sortable_column t('topic'), :column => 'topic'
    %th People
    %th= sortable_column t('collection'), :column => 'collection'
    %th Actions

  - @topics.each do |topic|
    %tr
      %td= link_to topic.name, topic
      %td= topic.people
      %td= link_to topic.collection.name, topic.collection if topic.collection
      %td= action_list topic
      
%br
- if can? :create, Topic
  = link_to 'New Topic', new_topic_path
