%p#notice= notice

%p
  %b Name:
  = @topic.name
%p
  %b People:
  = @topic.people
%p
  %b Collection:
  = @topic.collection_id

= link_to 'Edit', edit_topic_path(@topic)
\|
= link_to 'Back', topics_path
